body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 2vh;
}

#fashion-trends-10-years .page2-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #FFB8BF;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: center;
}

#fashion-trends-10-years-vis {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
}

.fashion-trend-card rect {
    fill: #ffe6e6;
    rx: 10;
    ry: 10;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fashion-trend-card rect:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.fashion-trend-card.selected {
    color: #FFB8BF;
}

.fashion-trend-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

#fashion-info-box {
    margin-top: 10px;
    padding: 20px;
    background-color: #ffe3eb;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#fashion-info-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #FFB8BF;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#fashion-info-text {
    font-size: 1em;
    color: #333;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.top-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
}

.left-quarter-top {
    font-family: 'Playfair Display', serif;
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: right;
    color: #555;
    margin-right: 10px;
}

.right-three-quarters-top {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.0rem;
    line-height: 1.8;
    text-align: right;
    color: #333;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    color: #FFB8BF;
}

@media (max-width: 768px) {
    .container {
        grid-template-rows: auto;
    }
    .top-row, .bottom-row {
        grid-template-columns: 1fr;
    }
    .right-three-quarters {
        text-align: center;
    }
}

.trend-line-image {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.right-three-quarters-bottom {
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-left: 20px;
    text-align: left;
    color: #333;
}

.book-container {
    display: flex;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.left-page {
    background-color: #e7f5fe;
    transform-origin: left;
}

.right-page {
    background-color: #ffe6e6;
    transform-origin: right;
}

.book-container.flipping .left-page {
    transform: rotateY(-180deg);
}

.book-container.flipping .right-page {
    transform: rotateY(180deg);
}

.page-content img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.page-content p {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin: 0;
}

.last-page-link {
    text-decoration: none;
    background-color: #FFB8BF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
}

.last-page-link:hover {
    background-color: #FFB8BF;
    transform: scale(1.05);
}