body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 2vh;
}

#fashion-trends-10-years .page2-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #FFB8BF;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: center;
}

#fashion-trends-10-years-vis {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
}

.fashion-trend-card rect {
    fill: #ffe6e6;
    rx: 10;
    ry: 10;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fashion-trend-card rect:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.fashion-trend-card.selected {
    color: #FFB8BF;
}

.fashion-trend-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

#fashion-info-box {
    margin-top: 10px;
    padding: 20px;
    background-color: #ffe3eb;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#fashion-info-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #FFB8BF;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#fashion-info-text {
    font-size: 1em;
    color: #333;
}
#VisContainer2 {
    width: 50%; /* Occupy 50% of the page */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Fill the entire container */
}

/* Top Row */
.top-row {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 25%;
    align-items: center;
}

.left-quarter-top {
    font-size: 1vw;
    color: #555;
    text-align: right;
    padding-right: 10px;
}

.right-three-quarters-top h1 {
    font-size: 5vw;
    font-weight: bold;
    color: #FF7A85;
    line-height: 1.2;
    text-align: left;
    margin-left: 20px;
}

/* Middle Row */
.middle-row {
    display: grid;
    grid-template-columns: 25% 75%; /* 25% left, 75% right */
    height: 40%; /* Take up 40% of the container */
    align-items: center;
    gap: 10px;
}

.left-quarter-middle img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.right-three-quarters-middle p {
    font-size: 0.7 vw;
    line-height: 1.8;
    color: #333;
    margin: 0;
    text-align: left;
    padding-left: 20px;
}

/* Bottom Row */
.bottom-row {
    height: 35%; /* Take up 35% of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease-in-out;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.4s ease-in-out;
    padding: 20px;
    height: 100%;
    width: 50%;
}

.left-page {
    transform-origin: left;
    background-color: #e7f5fe;
    border-right: 2px solid #ccc;
}

.right-page {
    transform-origin: right;
    background-color: #ffe6e6;
}

.book-container.flipping .left-page {
    transform: rotateY(-180deg);
}

.book-container.flipping .right-page {
    transform: rotateY(180deg);
}

.page-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.page-content p {
    font-family: 'Playfair Display', serif;
    font-size: 1vw;
    color: #333;
    text-align: center;
    margin: 0;
}
